.main-nav{
	background: $accent;
	position: absolute;
	top: 0;
	left: 100%;
	right: 0;
	font-size: 1.2rem;
	overflow: hidden;
	transition: all ease-in-out 250ms;
}

.main-nav ul{//flexbox playground网站
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	height: 100vh;
}
.main-nav li{
	flex: 1 1 auto;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	display: flex;
}
a{
	color: $text-inverse;
	text-decoration: none;
	display: flex;
	flex-basis: 100%;
	align-items: center;
	justify-content: center;
}
.main-nav li:hover{
	background: rgba(0,0,0,0.1);
}

.main-nav.is-open{
	left: 0;
}


//Hanburger Menu

.nav-toggle{
	display: block;
	padding:1em;
	position: absolute;
	right: 1em;
	top: 1em;
	cursor:pointer;
}

.hamburger,.hamburger::before,.hamburger::after{
	content: '';
	display: block;
	width: 2em;
	height: 3px;
	background: $white;
	transition: all ease-in-out 250ms;
}

.hamburger::before{
	transform: translateY(-6px);
}

.hamburger::after{
	transform: translateY(3px);
}

.hamburger.is-open{
	transform: rotate(45deg);
}

.hamburger.is-open::after{
	transform: rotate(-90deg) translateX(3px);
}
.hamburger.is-open::before{
	opacity: 0;
}